<template>
    <main>
        <div class="row">
            <div class="col-lg-9">
                <h2>Mapper</h2>
                <div class="form-row">
                    <div class="col-lg-6">
                        <typeahead-contacts :chosen.sync="chosen">
                        </typeahead-contacts>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="mapperLocate">Locate</label>
                            <div class="input-group">
                                <input type="text" id="mapperLocate" v-model="locate" placeholder="Rosa-Luxemburg-Platz, Berlin" class="form-control">
                                <button type="submit" @click="locateAddress" class="btn btn-primary">
                                    Go
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="mapperUpload">Bulk Addresses</label>
                            <input type="file" accept="text/csv" ref="fileInput" id="mapperUpload" @change="onCSVPicked" class="d-none">
                            <button class="btn btn-primary btn-block" @click="pickCSVFile" title="1MB Max">
                                Upload CSV
                            </button>
                        </div>
                    </div>
                </div>
                <map-basic :state="whatState" :geojson="geojson"></map-basic>
            </div>
            <div class="col-lg-3">
                <h2>Tour Builder</h2>
                <div v-if="whatState == 'build'">
                    <ul class="list-unstyled builder-chosen">
                        <li v-for="item in chosenLocations" class="mb-3">  
                            <div class="d-flex">
                                <place-name :place="item.properties"></place-name>
                                <div class="ml-auto pl-3">
                                    <img src="/images/icons/geopoint.svg">
                                </div>
                            </div>
                            <hr class="light">
                        </li>
                        <li v-for="item in chosenContacts" class="mb-3">  
                            <div class="d-flex">
                                <place-name :place="item.properties"></place-name>
                                <div class="ml-auto pl-3">
                                    <img src="/images/icons/places.svg">
                                </div>
                            </div>
                            <hr class="light">
                        </li>
                    </ul>
                    <button @click="savePlaces" v-if="chosenLocations.length > 0" class="btn btn-secondary btn-block">
                        Save Places
                    </button>
                    <button @click="saveTour" class="btn btn-primary btn-block">
                        Save Tour
                    </button>
                    <button @click="optimizeTour" class="btn btn-secondary btn-block">
                        Optimize Tour
                    </button>
                </div>
                <div v-else-if="whatState == 'vroom'">
                    <tour-preview :vroom="vroom"></tour-preview>
                    <button @click="createTour" class="btn btn-primary btn-block">
                        Create Tour
                    </button>
                </div>
                <div v-else-if="whatState == 'tour'">
                    <tour-final :tour="tour"></tour-final>
                    <router-link :to="{ path: '/tour/' + tour.slug }" class="btn btn-secondary btn-block">
                        View Tour
                    </router-link>
                </div>
                <div v-else-if="whatState == 'processing'">
                    <div class="bg-light p-3">
                        <p>Processing tour data...</p>
                    </div>
                </div>
                <div v-else-if="whatState == 'error'">
                    <p>Oops. Something here is a bit wonky...</p>
                </div>
                <div v-else>
                    <p>{{ $t('tour.buildMessage') }}</p>
                    <ul>
                        <li>{{ $t('tour.buildAdd1') }}</li>
                        <li>{{ $t('tour.buildAdd2') }}</li>
                        <li>{{ $t('tour.buildAdd3') }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
import _ from 'lodash'
import { mapState } from 'vuex'

import MapBasic from '@eotl/core/components/Map'
import TypeaheadContacts from '@/components/TypeaheadContacts'
import PlaceName from '@/components/PlaceName'
import TourPreview from '@/components/TourPreview'
import TourConfirm from '@/components/TourConfirm'
import TourFinal from '@/components/TourFinal'

import data from '@eotl/core/enums/Data' 
import alerts from '@eotl/core/mixins/alerts' 

export default {
    name: 'mapper',
    components: {
        MapBasic,
        TypeaheadContacts,
        PlaceName,
        TourPreview,
        TourConfirm,
        TourFinal
    },
    mixins: [ alerts ],
    data() {
        return {
            loading: false,
            state: 'fresh',
            geojson: { type: 'FeatureCollection', features: [] },
            chosen: data.contact,
            chosenContacts: [],
            chosenLocations: [],
            locate: '',
            csv: '',
            csvUrl: '',
            riders: [],
            pickups: [],
            vroom: {
                jobs: [],
                options: {},
                shipments: [],
                vehicles: []
            },
            tour: {
                slug: '',
                routes: {},
                vroom: {}
            }
        }
    },
    computed: {
        ...mapState(['config', 'groups']),
        whatState() {
            let state = 'fresh'
            if (this.state == 'processing') {
                state = 'processing' 
            } else if (this.vroom.jobs.length > 0 || this.vroom.shipments.length > 0) { 
                state = 'vroom'
            } else if (this.state == 'tour') {
                state = 'tour'
            } else if (this.chosenLocations.length > 0 || this.chosenContacts.length > 0) { 
                state = 'build'
            } else if (this.state == 'fresh') {
                state = 'fresh'
            } else {
                state = 'error'
            }
            return state
        }
    },
    created() {
        this.fetchZones()
        this.fetchCoordinators()
    },
    mounted () {
        this.$store.dispatch('fetchGroups')
    },
    watch: {
        chosen: function(newChoice, oldChoice) {
            this.addChosen(
                'contact',
                newChoice.address,
                [newChoice.location.lon, newChoice.location.lat],
                newChoice.name
            )
        }
    },
    methods: {
        addChosen(kind, address, coordinates, name) {
            let newPoint = {
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    coordinates: coordinates
                },
                properties: {
                    name: name,
                    address: address,
                    email: '',
                    phone: '',
                    words: ''
                }
            }
            this.geojson.features.push(newPoint)
            if (kind == 'contact') {
                this.chosenContacts.push(newPoint)
            } else if (kind == 'location') {
                this.chosenLocations.push(newPoint)
            }
        },
        addCoordinator(coordinator) {
            let newPoint = {
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    coordinates: [coordinator.location.lon, coordinator.location.lat]
                },
                properties: {
                    name: coordinator.name,
                    address: coordinator.address,
                    email: '',
                    phone: '',
                    words: ''
                }
            }
            this.geojson.features.push(newPoint)
        },
        async fetchZones() {
            this.loading = true;
            const response = await fetch(this.$store.state.config.url_api + '/zones?id=' + this.config.zone_parent)
            const data = await response.json()
            this.geojson = data
            this.loading = false
        },
        async fetchCoordinators() {
            this.loading = true;
            const riders = await fetch(this.$store.state.config.url_api + '/contacts?group=riders')
            if (!riders.ok)
                throw `Error response code: ${riders.status}`
            const dataRiders = await riders.json()
            dataRiders.contacts.forEach((rider) => {
                rider.status = 'created'
            })

            this.riders = dataRiders.contacts

            const pickups = await fetch(this.$store.state.config.url_api + '/contacts?group=suppliers')
            if (!pickups.ok)
                throw `Error response code: ${pickups.status}`
            const dataPickups = await pickups.json()
            dataPickups.contacts.forEach((pickup) => {
                pickup.status = 'created'
            })

            this.pickups = dataPickups.contacts
            this.loading = false
        },
        async locateAddress() {
            this.loading = true
            var formBody = new FormData()
            formBody.append('address', this.locate)
            const response = await fetch(this.$store.state.config.url_api + '/geocode/address/', {
                method: 'post',
                body: formBody
            })
            
            if (!response.ok) {
                const error = await response.json()
                this.alertDanger(error)
                throw `Error response code: ${response.status}`
            }

            const contact = await response.json()
            this.addChosen(
                'location',
                contact.address,
                [contact.location.lon, contact.location.lat],
                'unnamed'
            )
            this.locate = ''
        },
        pickCSVFile() {
          this.$refs.fileInput.click()
        },
        async onCSVPicked(event) {
            const files = event.target.files
            let filename = files[0].name
            const fileReader = new FileReader()
            fileReader.readAsDataURL(files[0])
            this.csv = files[0]

            var formData = new FormData()
            formData.append('file', this.csv)
            const response = await fetch(this.$store.state.config.url_api + '/geocode/addresses', {
              method: 'POST',
              body: formData
            })

            if (!response.ok) {
                const error = await response.json()
                this.alertDanger(error)
                throw `Error response code: ${response.status}`
            }

            const contacts = await response.json()
            let x
            for (x in contacts.addresses) {
                const contact = contacts.addresses[x]
                let name = 'unnamed'
                if (contact.name) { name = contact.name }
                this.addChosen(
                    'location',
                    contact.address,
                    [contact.location.lon, contact.location.lat],
                    name
                )
            }
        },
        async savePlaces() {
            let x, contacts = []
            for (x in this.chosenLocations) {
                contacts.push(this.chosenLocations[x].properties)
            }
            var formBody = {
                group: this.$store.state.config.group,
                contacts: contacts
            }

            var formJSON = JSON.stringify(formBody)
            const response = await fetch(this.$store.state.config.url_api + '/contacts', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: formJSON
            })
            
            if (!response.ok) {
                const error = await response.json()
                this.alertDanger(error)
                throw `Error response code: ${response.status}`
            }

            const added = await response.json()
            this.alertSuccess(added)
        },
        async saveTour() {
            let tourName = prompt("Please name your Tour", "Wild Ride #1")
            if (tourName == null || tourName == "") {
              this.alertDanger('You must specify a Tour name')
              throw `Error response code: Tour needs name`
            }

            // Stops to go to
            let chosen = _.concat(this.chosenContacts, this.chosenLocations)
            let x, deliveries = []
            for (x in chosen) {
                var stop = {
                    name: chosen[x].properties.name,
                    email: chosen[x].properties.email,
                    phone: chosen[x].properties.phone,
                    address: chosen[x].properties.address,
                    address_details: '',
                    location: {
                        lon: chosen[x].geometry.coordinates[0],
                        lat: chosen[x].geometry.coordinates[1]
                    },
                    status: 'created'
                }
                deliveries.push(stop)
            }

            var formBody = {
                name: tourName,
                deliveries: deliveries,
                riders: this.riders,
                pickups: this.pickups
            }
            var formJSON = JSON.stringify(formBody)
            this.state = 'processing'
            console.log('Saving tour: ', tourName)
            const response = await fetch(this.$store.state.config.url_api + '/tours', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: formJSON
            })
            
            if (!response.ok) {
                const error = await response.json()
                let alertString = error.title || error.detail || 'Error'
                if(error.detail && error.detail.includes('slug')) {
                    alertString = 'Tour names must be unique. '  + alertString
                }
                this.alertDanger(alertString)
                this.state = 'fresh'
                throw `Error response code: ${response.status}`
            }

            const saved = await response.json()
            this.tour.slug = saved.detail
            this.state = 'tour'
            this.$router.push('/tour/' + saved.detail)
        },
        async optimizeTour() {
            console.log('optimizeTour...')

            // Show Rider & Supplier
            // TODO improve this for multiple
            this.addCoordinator(this.riders[0])
            this.addCoordinator(this.pickups[0])

            // Stops to go to
            let chosen = _.concat(this.chosenContacts, this.chosenLocations)
            let x, deliveries = []
            for (x in chosen) {
                var stop = {
                    name: chosen[x].properties.name,
                    email: chosen[x].properties.email,
                    phone: chosen[x].properties.phone,
                    address: chosen[x].properties.address,
                    address_details: '',
                    location: {
                        lon: chosen[x].geometry.coordinates[0],
                        lat: chosen[x].geometry.coordinates[1]
                    }
                }
                deliveries.push(stop)
            }

            var formBody = {
                deliveries: deliveries,
                riders: this.riders,
                pickups: this.pickups
            }
            var formJSON = JSON.stringify(formBody)
            const response = await fetch(this.$store.state.config.url_api + '/vroom/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: formJSON
            })
            
            if (!response.ok) {
                const error = await response.json()
                this.alertDanger(error)
                throw `Error response code: ${response.status}`
            }

            const vroom = await response.json()
            this.vroom = vroom
            this.drawVroomShipments(vroom.shipments)
            this.state = 'vroom'
        },
        drawVroomShipments(shipments) {
            let x
            for (x in shipments) {
                let coords = [ shipments[x].pickup.location, shipments[x].delivery.location ]
                let tour = 'Tour ' + shipments[x].pickup.id + ' ' + shipments[x].delivery.id
                let description = 'From ' + shipments[x].pickup.description + ' to ' + shipments[x].delivery.description
                let thisLine = {
                    type: "Feature",
                    properties: {
                        name: tour,
                        description: description
                    },
                    geometry: {
                        type: "LineString",
                        coordinates: coords
                    }
                }
                this.geojson.features.push(thisLine)
            }
        },
        async solveTour() {
            console.log('solveTour...')
            this.state = 'processing'
            var formJSON = JSON.stringify(this.vroom)
            const response = await fetch(this.$store.state.config.url_api + '/vroom/solver', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: formJSON
            })
            
            if (!response.ok) {
                const error = await response.json()
                this.alertDanger(error)
                throw `Error response code: ${response.status}`
            }

            const solved = await response.json()
            console.log(solved)
            this.tour = solved
            this.state = 'tour'
        }
    }
}
</script>

<style>
ul.builder-chosen li img {
    height: 21px;
}
</style>
