<template>
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-8">
                    <h2>Places</h2>
                </div>
                <div class="col-4">
                    <dropdown-groups
                        @event-group="changeGroup"
                        :group="group">
                    </dropdown-groups>
                </div>
            </div>
            <p class="text-muted">
                {{ places.length }} places in the group {{ group }} 
            </p>
            <hr class="light">
            <ul class="list-unstyled">
                <li v-for="place in places" class="place mb-3">
                    <div class="row">
                        <div class="col-6">
                            <place-name :place="place"></place-name>
                            <small v-if="place.address_details">
                            {{ place.address_details }}
                            </small>
                        </div>
                        <div class="col-3">
                            <place-contact :place="place"></place-contact>
                        </div>
                        <div class="col-3">
                            <img src="/images/icons/geopoint.svg">
                            <small>{{ place.location.lat }}, {{ place.location.lon }}</small><br>
                            <small>{{ place.location.words }}</small>
                        </div>
                    </div>
                    <hr class="light">
                </li>
            </ul>
        </div>
        <div class="col-3">
            <form>
                <legend>Add Place</legend>
                <div class="form-group">
                    <label for="formName">Name</label>
                    <input v-model="form.name" id="formName" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="formAddress">Address</label>
                    <input v-model="form.address" id="formAddress" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="formAddressDetails">Address Details</label>
                    <input v-model="form.address_details" id="formAddressDetails" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="formEmail">Email</label>
                    <input v-model="form.email" id="formEmail" type="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="formPhone">Phone</label>
                    <input v-model="form.phone" id="formPhone" type="tel" class="form-control">
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text text-monospace">
                            <small>Group</small>
                        </div>
                    </div>
                    <input type="text" v-model="group" id="formGroup" readonly class="form-control">
                </div>
                <button @click="addPlace" class="btn btn-primary btn-block">
                    Add Place
                </button>
            </form>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'

import DropdownGroups from '@/components/DropdownGroups'
import PlaceName from '@/components/PlaceName'
import PlaceContact from '@/components/PlaceContact'

import alerts from '@eotl/core/mixins/alerts' 
import fetcher from '@eotl/core/mixins/fetcher' 

export default {
    name: 'places',
    components: {
        DropdownGroups,
        PlaceName,
        PlaceContact
    },
    mixins: [ alerts, fetcher ],
    data() {
        return {
            places: [],
            group: this.$store.state.config.group,
            form: {
                name: '',
                address: '',
                address_details: '',
                email: '',
                phone: ''
            }
        }
    },
    computed: {
        ...mapState(['config', 'groups'])
    },
    mounted() {
        this.$store.dispatch('fetchGroups')
        this.fetchPlaces(this.config.group)
    },
    methods: {
        changeGroup(group) {
            this.group = group
            this.fetchPlaces(group)
        },
        async fetchPlaces(group) {
            // TODO: needs to account for admin vs. ACL user
            let filter = ''
            if (group != '') {
                filter = '?group=' + group
            }

            var vm = this
            this.fetchGet('/contacts' + filter).then(response => {
                vm.places = response.contacts
            })
        },
        async addPlace(e) {
            e.preventDefault() 
            this.loading = true 

            var formBody = {
                group: this.group,
                contacts: [this.form]
            }

            var formJSON = JSON.stringify(formBody)
            const response = await fetch(this.$store.state.config.url_api + '/contacts', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: formJSON
            })
           
            if (response.ok) {
                const result = await response.json()
                const place = {...this.form}
                place.location = { lat: '', lon: '', words: '' }
                this.places.push(place)

                this.form.name = ''
                this.form.address = ''
                this.form.address_details = ''
                this.form.email = ''
                this.form.phone = '' 

            } else {
                this.alertDanger('Could not add place')
                throw `Error response code: ${response.status}`
            }
        }
    }
}
</script>

<style>
li.place div div img {
    height: 18px;
}
</style>
