<template>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <h2 class="mb-4">Tours</h2>
            <tour-list></tour-list>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <h2 class="mb-4">Riders</h2>
            <rider-list></rider-list>
        </div>
    </div>
</template>

<script>
import TourList from '@/components/TourList'
import RiderList from '@/components/RiderList'

export default {
    name: 'tours',
    created() {
    },
    components: { 
        TourList,
        RiderList,
    },
    methods: {}
}
</script>
