<template>
    <main>
        <h2>Zones</h2>
        <hr>
        <div class="row">
            <div class="col-4">
                <div class="d-flex justify-content-between">
                    <div>
                        <h3>{{ zone.properties.name }}</h3>
                    </div>
                    <div>
                        <code>{{ zone.properties.abbr }}</code>
                    </div>
                </div>
                <p>This is the highest level zone this instance of Sextant is
                configured for. The following zones are contained within.</p>
                <hr class="light">
                <ul class="list-unstyled">
                    <li v-for="item in zones.features" v-if="item.properties.relation == 'child'" class="mb-4">
                        <zone-item :zone="item"></zone-item>
                        <hr class="light">
                    </li>
                </ul>
                <p class="text-italic color-light">A user-friendly way to to edit zones is planned, but not a high priority.</p>
            </div>
            <div class="col-8">
                <div>
                    <span v-if="loading">Loading...</span>
                </div>
                <l-map
                  :zoom="zoom"
                  :center="center"
                  style="height: 600px; width: 100%"
                  class="mb-4">
                  <l-tile-layer
                    :url="url"
                    :attribution="attribution"/>
                  <l-geo-json
                    v-if="show"
                    :geojson="zones"
                    :options="options"
                    :options-style="styleFunction"/>
                </l-map>
            </div>
        </div>
   </main>
</template>

<script>
import _ from 'lodash'
import { mapState } from 'vuex'
import { LMap, LTileLayer, LMarker, LGeoJson, LIcon } from 'vue2-leaflet'

import ZoneItem from '@/components/ZoneItem'

import alerts from '@eotl/core/mixins/alerts' 
import fetcher from '@eotl/core/mixins/fetcher' 

export default {
    name: 'zones',
    components: {
        'zone-item': ZoneItem,
        'l-map': LMap,
        'l-tile-layer': LTileLayer,
        'l-marker': LMarker,
        'l-geo-json': LGeoJson,
        'l-icon': LIcon
    },
    mixins: [ alerts, fetcher ],
    data() {
        return {
            zone: {},
            zones: [],
            mapboxToken: this.$store.state.config.mapboxToken,
            loading: false,
            show: true,
            enableTooltip: true,
            zoom: 11,
            center: [52.5048, 13.3940],
            geojson: null,
            fillColor: "#e4ce7f",
            url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            attribution: '&copy; OpenStreetMap contributors',
            marker: L.latLng(52.5048, 13.3940),
            start: L.latLng(52.5037, 13.3420),
            dynamicSize: '',
            dynamicAnchor: ''
        }
    },
    computed: {
        ...mapState(['config']),
        options() {
          return {
            onEachFeature: this.onEachFeatureFunction
          };
        },
        styleFunction() {
          const fillColor = this.fillColor; 
          return () => {
            return {
              weight: 1,
              color: "#333333",
              opacity: 1,
              fillColor: fillColor,
              fillOpacity: .75
            };
          };
        },
        onEachFeatureFunction() {
          if (!this.enableTooltip) {
            return () => {};
          }
          return (feature, layer) => {
            layer.bindTooltip(
                "<strong class='mb-1'>" + feature.properties.name + "</strong>",
              { permanent: false, sticky: true }
            )
          }
        }
    },
    mounted() {
        this.fetchZones()
    },
    methods: {
        fetchZones() {
            var vm = this;
            this.fetchGet('/zones?id=' + this.config.zone_parent).then(response => {
                vm.zones = response
                var zone = _.find(response.features, function(o) {
                                    return o.properties.abbr == vm.$store.state.config.zone_parent
                                })
                vm.zone = zone
            })
        }
    }
}
</script>
