<template>
    <div>
        <vue-element-loading :active="loading" spinner="mini-spinner"/>
        <div class="alert alert-danger" role="alert" v-if="submitError != null">
            {{ submitError }}
        </div>
        <form
            @submit="submitData">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">Zone Details</div>
                        <div class="card-body">
                            <label>Name:</label>
                            <input type="text" class="form-control" v-model="zoneName" required />
                            <br>
                            <label>Friendly Name:</label>
                            <input type="text" class="form-control" v-model="friendlyName" required />
                            <br>
                            <label>Radius (km):</label>
                            <input type="number" class="form-control" v-model="radius" v-on:change="radiusChanged" required />
                            <input type="hidden" v-model="latitude" required />
                            <input type="hidden" v-model="longitude" required />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">Zone Location</div>
                        <div class="card-body">
                            <div class="alert alert-danger" role="alert" v-if="locationError">
                                Please pick a center for the zone circle on the map below.
                            </div>
                            <div id="zoneMap" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <input type="submit" class="btn btn-success btn-fullwidth" value="Create" />
        </form>
    </div>
</template>

<script>
export default {
    name: 'zones-create',
    data() {
        return {
            zoneName: "",
            friendlyName: "",
            radius: 1,
            latitude: null,
            longitude: null,
            marker: null,
            circle: null,
            zoneMap: null,
            locationError: false,
            loading: false,
            submitError: null
        }
    },
    mounted() {
        this.zoneMap = L.map('zoneMap').setView([52.517026, 13.388974], 11);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoiY2hyaXN0b3BoZXJtYWV1ZXIiLCJhIjoiY2prM3RrbTJyMDNmOTN2cDZ3ZmYxNHpkbiJ9.JtTTrrlhIHCilxP6wUeCjQ'
        }).addTo(this.zoneMap);
        var self = this;
        this.zoneMap.on('click', function(e) {
            self.latitude = e.latlng.lat;
            self.longitude = e.latlng.lng;
            if(self.marker != null) {
                self.zoneMap.removeLayer(self.marker);
                self.zoneMap.removeLayer(self.circle);
            }
            self.marker = L.marker([self.latitude, self.longitude]).addTo(self.zoneMap);
            self.circle = L.circle([self.latitude, self.longitude], {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5,
                radius: self.radius*1000
            }).addTo(self.zoneMap);
        });
    },
    methods: {
        submitData(e) {
            e.preventDefault();
            if(this.latitude == null || this.longitude == null) {
                this.locationError = true;
            }
            else {
                this.loading = true;
                this.locationError = false;
                var self = this;
                window.axios.put('/api/zones', {
                    name: this.zoneName,
                    friendlyName: this.friendlyName,
                    radius: this.radius,
                    latitude: this.latitude,
                    longitude: this.longitude
                }).then(response => {
                    if(response.data.success) {
                        var url = document.location.href;
                        document.location.href = url.substr(0, url.lastIndexOf('/')+1) + response.data.id;
                    }
                    else {
                        self.submitError = response.data.error;
                        self.loading = false;
                    }
                }).catch(e => {
                    console.log("error");
                    console.log(e);
                });
            }
        },
        radiusChanged() {
            if(this.radius <= 0) {
                this.radius = 1;
            }
            if(this.circle != null) {
                this.zoneMap.removeLayer(this.circle);
                this.circle = L.circle([this.latitude, this.longitude], {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.5,
                    radius: this.radius*1000
                }).addTo(this.zoneMap);
            }
        }
    }
}
</script>
