<template>
    <div>
        <vue-element-loading :active="loading" spinner="mini-spinner"/>
        <div class="alert alert-danger" role="alert" v-if="submitError != null">
            {{ submitError }}
        </div>
        <form @submit="submitData">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">Zone Details</div>
                        <div class="card-body">
                            <label>ID:</label>
                            <input type="text" class="form-control" v-model="id" disabled />
                            <br>
                            <label>Name:</label>
                            <input type="text" class="form-control" v-model="zoneName" required />
                            <br>
                            <label>Friendly Name:</label>
                            <input type="text" class="form-control" v-model="friendlyName" required />
                            <br>
                            <label>Radius (km):</label>
                            <input type="number" class="form-control" v-model="radius" v-on:change="radiusChanged" required />
                            <input type="hidden" v-model="latitude" required />
                            <input type="hidden" v-model="longitude" required />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">Zone Location</div>
                        <div class="card-body">
                            <div class="alert alert-danger" role="alert" v-if="locationError">
                                Please pick a center for the zone circle on the map below.
                            </div>
                            <div id="zoneMap" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <input type="submit" class="btn btn-success btn-fullwidth" value="Update" />
        </form>
        <br>
        <form @submit="deleteData">
            <input type="submit" class="btn btn-danger btn-fullwidth" value="Delete" />
        </form>
    </div>
</template>

<script>
export default {
    name: 'zones-mnanage',
    data() {
        return {
            id: "",
            zoneName: "",
            friendlyName: "",
            radius: 1,
            latitude: null,
            longitude: null,
            marker: null,
            circle: null,
            zoneMap: null,
            locationError: false,
            loading: true,
            submitError: null
        }
    },
    mounted() {
        var url = document.location.href.split('?')[0].split('#')[0];
        this.id = url.substr(url.lastIndexOf('/')+1, url.length-1);
        this.zoneMap = L.map('zoneMap').setView([52.517026, 13.388974], 11);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoiY2hyaXN0b3BoZXJtYWV1ZXIiLCJhIjoiY2prM3RrbTJyMDNmOTN2cDZ3ZmYxNHpkbiJ9.JtTTrrlhIHCilxP6wUeCjQ'
        }).addTo(this.zoneMap);
        var self = this;
        this.zoneMap.on('click', function(e) {
            self.latitude = e.latlng.lat;
            self.longitude = e.latlng.lng;
            if(self.marker != null) {
                self.zoneMap.removeLayer(self.marker);
                self.zoneMap.removeLayer(self.circle);
            }
            self.marker = L.marker([self.latitude, self.longitude]).addTo(self.zoneMap);
            self.circle = L.circle([self.latitude, self.longitude], {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5,
                radius: self.radius*1000
            }).addTo(self.zoneMap);
        });

        this.fetchData();
    },
    methods: {
        fetchData() {
            var self = this;
            window.axios.get('/api/zones/' + this.id).then(response => {
                self.zoneName = response.data.name;
                self.friendlyName = response.data.friendlyName;
                self.radius = response.data.radius;
                self.latitude = response.data.latitude;
                self.longitude = response.data.longitude;
                self.marker = L.marker([self.latitude, self.longitude]).addTo(self.zoneMap);
                self.circle = L.circle([self.latitude, self.longitude], {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.5,
                    radius: self.radius*1000
                }).addTo(self.zoneMap);
                self.loading = false;
            });
        },
        deleteData(e) {
            e.preventDefault();
            var self = this;
            this.$swal({
                title: 'Delete ' + self.zoneName + " Zone?",
                text: "Connected entities will be automatically disconnected.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!',
                preConfirm: () => {
                    self.loading = true;
                    window.axios.delete('/api/zones/'+this.id).then(response => {
                        if(response.data.success) {
                            var url = document.location.href;
                            document.location.href = url.substr(0, url.lastIndexOf('/'));
                        }
                        else {
                            self.submitError = response.data.error;
                            self.loading = false;
                        }
                        return response.data.success;
                    }).catch(e => {
                        console.log("error");
                        console.log(e);
                    });
                },
                allowOutsideClick: false
            });
        },
        submitData(e) {
            e.preventDefault();
            if(this.latitude == null || this.longitude == null) {
                this.locationError = true;
            }
            else {
                this.loading = true;
                this.locationError = false;
                var self = this;
                window.axios.post('/api/zones/'+this.id, {
                    name: this.zoneName,
                    friendlyName: this.friendlyName,
                    radius: this.radius,
                    latitude: this.latitude,
                    longitude: this.longitude
                }).then(response => {
                    if(response.data.success) {
                        document.location.reload();
                    }
                    else {
                        self.submitError = response.data.error;
                        self.loading = false;
                    }
                }).catch(e => {
                    console.log("error");
                    console.log(e);
                });
            }
        },
        radiusChanged() {
            if(this.radius <= 0) {
                this.radius = 1;
            }
            if(this.circle != null) {
                this.zoneMap.removeLayer(this.circle);
            }
            this.circle = L.circle([this.latitude, this.longitude], {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5,
                radius: this.radius*1000
            }).addTo(this.zoneMap);
        }
    }
}
</script>
