<template>
    <select class="form-control" @change="updateGroup($event)">
        <option v-for="group in groups" :value="group.slug">
            {{ group.name }}
        </option>
    </select>
</template>

<script>
import { mapState } from 'vuex'

import alerts from '@eotl/core/mixins/alerts' 
import fetcher from '@eotl/core/mixins/fetcher' 

export default {
    name: 'dropdown-groups',
    props: ['group'],
    mixins: [ alerts ],
    computed: {
        ...mapState(['config', 'groups'])
    },
    mounted() {
        if(!this.groups || this.groups.length === 0){
            this.$store.dispatch('fetchGroups')
        }
    },
    methods: {
        updateGroup(event) {
            this.$emit("event-group", event.target.value)
            this.$store.state.config.group = event.target.value
        }
    }
}
</script>
