<template>
    <div>
        <div class="form-group" v-if="nameInput">
            <input type="text" v-model="place.name" class="form-control form-control-sm">
            <small class="text-monospace">{{ place.address }}</small>
        </div>
        <div v-else>
            <a href="#">
                <strong>
                    {{ place.name }}
                </strong><br>
                <small>{{ place.address }}</small>
            </a>
        </div>
    </div>
</template>

<script>
export default {
    name: 'place-name',
    props: ['place'],
    data() {
        return {
            nameInput: false
        }
    },
    created() {
        if (this.place.name == 'unnamed') {
            this.nameInput = true
        }
    },
    computed: {},
    methods: {}
}
</script>
