<template>
    <div>
        {{ contact.location.lat }}, {{ contact.location.lon }}<br>
        {{ contact.location.words }}
    </div>
</template>

<script>
export default {
    name: 'place-location',
    props: ['contact'],
    data() {
        return {
        }
    },
    created() {},
    computed: {
    },
    methods: {
    }
}
</script>
