<template>
    <div>
        <ul v-if="riders.length > 0" class="list-unstyled">
            <li v-for="rider in riders" v-if="riderAvail" v-bind:key="rider.id" class="border mb-4 p-3">
                <rider v-bind:rider="rider"></rider>
            </li>
        </ul>
        <ul v-else class="list-unstyled">
            <li>No riders found</li>
        </ul>
    </div>
</template>

<script>
import Rider from '@/components/Rider'

export default {
  name: 'rider-list',
  components: {
    Rider
  },
  props: [],
  data: function() {
    return {
      riders: []
    };
  },
  computed: {
    riderAvail() {
      // TODO: actually calculate this at some point
      return true
    }
  },
  created() {
    this.getRiders();
  },
  methods: {
    async getRiders() {
        this.loading = true;
        const response = await fetch(this.$store.state.config.url_api + '/contacts?group=riders')
        if (!response.ok)
            throw `Error response code: ${response.status}`

        const data = await response.json()
        this.riders = data.contacts
        this.loading = false
    }
  }
}
</script>
