<template>
    <div class="row rider">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 100 100" version="1.1">
          <g style="fill:none;fill-rule:evenodd;stroke:none;stroke-width:1">
            <g v-bind:style="'fill: ' + riderFillColor">
              <path
                 d="m 63.271,63.344 c -1.896,-2.133 -1.896,-2.133 -0.623,-10.062 2.17,-8.875 4.139,-3.366 7.244,-21.066 2.604,-14.867 -2.957,-27.64 -19.854,-27.64 -16.892,0 -22.458,12.773 -19.849,27.64 3.104,17.701 5.066,12.191 7.242,21.066 1.273,7.93 1.273,7.93 -0.625,10.062 L 0,74.443 v 20.552 h 100 c 0,0 0,-16.801 0.041,-18.801 z" />
            </g>
          </g>
        </svg>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-10">
        <a href="" class="text-uppercase">
            <strong>{{ rider.name }}</strong><br>
            <small>{{ rider.address }}</small>
        </a>
      </div>
    </div>
</template>

<script>
export default {
  name: 'rider',
  components: {},
  props: ['rider'],
  data() {
    return {
      fillColor: '#000000'
    }
  },
  computed: {
      riderFillColor() {
        var hash = 0
        for (var i = 0; i < this.rider.name.length; i++) {
            hash = this.rider.name.charCodeAt(i) + ((hash << 5) - hash)
        }
        var color = '#'
        for (var i = 0; i < 3; i++) {
            var value = (hash >> (i * 8)) & 0xFF
            color += ('00' + value.toString(16)).substr(-2)
        }

        return color
      }
  },
  created() {},
  methods: {
      btnShipmentAssignCancel() {
        console.log('Cancel Shipment assign')
      },
  }
}
</script>

<style>
div.rider div svg {
    height: 50px;
}
</style>
