<template>
    <div>
        <h4>Stops</h4>
        <hr class="light">
        <ul class="list-unstyled">
            <li v-for="stop in stops" class="mb-3">
                <place-name :place="stop"></place-name>
                <hr class="light">
            </li>
        </ul>
    </div>
</template>

<script>
import PlaceName from '@/components/PlaceName'

export default {
    name: 'tour-stops',
    props: ['stops'],
    components: {
        PlaceName
    },
    data() {
        return {
        }
    },
    mounted() {
    },
    computed: {
    },
    methods: {
    }
}

</script>
