i<template>
    <div>
        <pre class="small">
            {{ tour }}
        </pre>
    </div>
</template>

<script>
import PlaceName from '@/components/PlaceName'

export default {
    name: 'tour-final',
    props: [ 'tour' ],
    components: {
        PlaceName
    },
    data() {
        return {
        }
    },
    mounted() {
    },
    computed: {
    },
    methods: {
    }
}

</script>
