<template>
    <div>
        <div v-if="tours.length > 0">
            <ul class="list-unstyled">
                <li v-for="item in tours" v-bind:key="item.slug" class="border mb-4 p-3">
                    <router-link :to="{ path: '/tour/' + item.slug }">
                        <h4>{{ item.name }}</h4>
                    </router-link>
                    <tour-item :item="item"></tour-item>
                    <router-link :to="{ path: '/tour/' + item.slug }" class="btn btn-primary float-right">
                        View Tour
                    </router-link>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
        <div v-else class="list-unstyled">
            <p>No tours found</p>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'

import TourItem from '@/components/TourItem'

export default {
  name: 'tour-list',
  components: {
    TourItem
  },
  props: [],
  data() {
    return {
      tours: []
    };
  },
  computed: {
    ...mapState
  },
  created() {
    this.getTours()
  },
  methods: {
    getTours() {
      let vm = this
      fetch(this.$store.state.config.url_api + '/tours', {
          method: 'GET',
          headers: {
              Accept: 'text/plain',
              'Content-Type': 'application/json',
          },
      })
        .then(response => {
          return response.json();
        }) 
        .then(json => {                                                   
          vm.tours = json.tours
          vm.$store.dispatch('updateTours', {
            tours: json.tours
          })
        }) 
    }
  }
}
</script>
