<template>
    <div class="typeahead mb-5">
        <div class="form-row mb-3">
            <div class="col-lg-3">
                <label>Zone</label>
                <select class="form-control">
                    <option>{{ config.zone_parent }}</option>
                </select>
            </div>
            <div :class="'col-lg-9 ' + form.classesQuery">
                <label>
                    Search Places
                </label>
                <div class="float-right">
                    <i class="fa fa-spinner fa-spin" v-if="loading"></i>
                    <i class="fa fa-times" v-show="isDirty" @click="reset"></i>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control col-sm-8" autocomplete="off"
                           placeholder="Name or Address..."
                           v-model="query.search"
                           @keydown.down="down"
                           @keydown.up="up"
                           @keydown.enter="hit"
                           @keydown.esc="reset"
                           @blur="reset"
                           @input="update">
                    <select class="form-control col-sm-4"  v-model="query.group" >
                        <option value="">All Groups</option>
                        <option v-for="group in groups":key="group.id" :value="group.slug">{{ group.name }}</option>
                    </select>
                    <button type="submit" @click="hit" class="btn btn-primary">
                        Go
                    </button>
                </div>
            </div>
        </div>
        <div class="bg-light p-3"
            v-for="grouping in form.detailGroupings"
            v-if="form.entities == 'details' && form.detailGroup == grouping">
            <label v-for="(detail, index) in form.detailCheckboxes[grouping]" v-bind:for="index">
                <input type="checkbox" :key="index" :value="index" v-model="query.details"> 
            </label>
        </div>
        <ul v-show="hasItems" class="list-unstyled">
            <li v-for="(item, index) in contacts"
                    :class="activeClass(index) + ' mb-3'"
                    @mousedown="hit()"
                    @mousemove="setActive(index)">
                <div class="d-flex">
                    <div class="pr-2">
                        <img src="/images/icons/places.svg">
                    </div>
                    <place-name :place="item"></place-name>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
import { mapState } from 'vuex'

import PlaceName from '@/components/PlaceName'

import data from '@eotl/core/enums/Data' 
import fetcher from '@eotl/core/mixins/fetcher'

export default {
    name: 'typeahead-contacts',
    components: {
        PlaceName
    },
    mixins: [ fetcher ],
    props: ['chosen'],
    data() {
        return {
            limit: 5,
            minChars: 2,
            contacts: [],
            query: {
                search: '',
                group: '',
                zoneId: this.$store.state.config.zone_parent
            },
            current: -1,
            loading: false,
            selectFirst: false,
            form: {
                classesQuery: 'col-md-10', 
                classesParams: 'd-none',
                entities: 'all',
                zones: ''//this.$store.state.zones
            }
        }
    },
    computed: {
        ...mapState(['config', 'groups']),
        queryString() {
            let queryString = '?'
                
            if (this.query.search != '') {
                queryString += 'q=' + this.query.search + '&'
            }
            if (this.query.group != '') {
                queryString += 'group=' + this.query.group + '&'
            }
            return queryString
        },
        hasItems() {
            let lengths = this.contacts.length
            if (lengths > 0) {
                return lengths
            }
        },
        isEmpty() {
            return !this.query.contacts
        },
        isDirty() {
            if (!!this.query.contacts) {
                return true
            }
            return false
        }
    },
    methods: {
        onHit(contact) {
            this.$emit('update:chosen', contact)
        },
        update() {
            this.cancel()

            if (!this.query) {
                return this.reset()
            }

            if (this.minChars && this.query.search.length < this.minChars) {
                return false
            }

            this.loading = true
            this.fetch().then((response) => {
                if (response && this.query) {
                    if ('contacts' in response) {
                        this.contacts = response.contacts
                    }

                    this.current = -1
                    this.loading = false

                    if (this.selectFirst) {
                        this.down()
                    }
                }
            })
        },
        fetch() {
            let cancel = new Promise((resolve) => this.cancel = resolve)
            let request = this.fetchGet('/contacts', this.queryString)
            return Promise.race([cancel, request])
        },
        cancel() {
            // used to 'cancel' previous searches
        },
        reset() {
            this.contacts = []
            this.query.search = ''
            this.query.zoneId = ''
            this.loading = false
        },
        setActive(index) {
            this.current = index
        },
        activeClass(index) {
            return {
                active: this.current === index
            }
        },
        hit() {
            console.log('hit!', this.query.group)
            if (this.current !== -1) {
                this.onHit(this.contacts[this.current])
            }
        },
        up() {
            if (this.current > 0) {
                this.current--
            } else if (this.current === -1) {
                this.current = this.contacts.length - 1
            } else {
                this.current = -1
            }
        },
        down() {
            if (this.current < this.contacts.length - 1) {
                this.current++
            } else {
                this.current = -1
            }
        },
        chooseEntity(e) {
            if (['locations'].indexOf(e.target.value) > -1) {
                this.form.classesQuery = 'col-md-7'
                this.form.classesParams = 'col-md-3' 
            } else {
                this.form.classesQuery = 'col-md-10'
                this.form.classesParams = 'd-none' 
            }
        }
    }
}
</script>

<style scoped>
.typeahead {
    position: relative;
}

.typeahead .fa-times {
    cursor: pointer;
}

.typeahead ul {
    position: absolute;
    padding: 0;
    margin-top: 8px;
    min-width: 100%;
    background-color: #fff;
    list-style: none;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.25);
    z-index: 10000;
}

.typeahead li {
    padding: 10px 16px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.typeahead li:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.typeahead li:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 0;
}

.typeahead li img {
    height: 21px;
}

.typeahead span {
    display: block;
    color: #2c3e50;
}

.typeahead .active {
    background-color: #3aa373;
}

.typeahead .active span {
    color: white;
}
</style>
