<template>
    <div class="row">
        <div class="col-lg-1">
            <div class="list-group nav-main">
                <router-link to="/" title="Mapper" class="list-group-item list-group-item-action active" aria-current="true">
                    <img src="/images/icons/globe.svg">
                    <small>Mapper</small>
                </router-link>
                <router-link to="/places" title="Places & Contacts" class="list-group-item list-group-item-action">
                    <img src="/images/icons/places.svg">
                    <small>Places</small>
                </router-link>
                <router-link to="/tours" title="Tours" class="list-group-item list-group-item-action">
                    <img src="/images/icons/tours.svg">
                    <small>Tours</small>
                </router-link>
                <router-link to="/zones" title="Zones" class="list-group-item list-group-item-action">
                    <img src="/images/icons/zones.svg">
                    <small>Zones</small>
                </router-link>
            </div>
        </div>
        <div class="col-lg-11">
            <div v-if="alert.show" v-bind:class="'mb-3 alert alert-dismissable alert-' + alert.style">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <h4>{{ alert.title }}</h4>
              <p class="mb-0">{{ alert.message }}</p>
            </div>
            <transition>
                <keep-alive>
                  <router-view :key="$route.fullPath">
                    <mapper></mapper>
                  </router-view>
                </keep-alive>
            </transition>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import 'jquery'

import router from './router'
import store from './store'
import i18n from './i18n'

import Mapper from '@/views/Mapper'

export default {
    router,
    store,
    i18n,
    name: "sextant",
    components: {
        Mapper
    },
    computed: {
        ...mapState(['config', 'alert'])
    },
    methods: {
        init() {
            console.log('Mounted sextant')
        },
    },
    mounted() {
        this.init()
    }
};
</script>

<style>
div.nav-main a {
    text-align: center;
}

div.nav-main a img {
    max-width: 36px;
    display: block;
    margin: 0 auto 0.5rem;
}
</style>
